:global {
  .display-toolbar {
    .ant-btn-group-sm + .ant-btn-group-sm {
      margin-left: 8px;
    }

    .ant-btn-group + .ant-btn-group {
      margin-left: 12px;
    }

    .ant-btn-group-lg + .ant-btn-group-lg {
      margin-left: 16px;
    }
  }
}
